{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
 <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <div class="container login-container">
    <h2>Login</h2>
    <form>
      <label>Email</label>
      <input type="email" placeholder="Enter your email" required>

      <label>Password</label>
      <input type="password" placeholder="Enter your password" required>

      <button type="submit" class="btn">Log in</button>

      <button type="button" class="btn google">
        <img src="https://img.icons8.com/color/20/000000/google-logo.png"/> Log in with Google
      </button>

      <button type="button" class="btn facebook">
        <img src="https://img.icons8.com/color/20/000000/facebook-new.png"/> Log in with Facebook
      </button>

      <p class="switch-text">Don’t have an account? <a href="{% url 'signup' %}" >Sign up</a></p>
    </form>
  </div>
</body>
</html>

