{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Contact - Successful page</title>
 <link rel="stylesheet" href="{% static 'css/massagethanks.css'%}">
</head>
<body>
  <div class="thankyou-container">
    <h1>
      Thank You !
      <img src="../static/image/handshake.png" alt="Thank you icon" class="thankyou-img">
    </h1>
    <p>Your message has been successfully sent.</p>
    <p>We will get back to you soon.
      <img src="../static/image/give-love.png" alt="Love icon" class="thankyou-small-img">
    </p>

      <a href="{% url 'home' %}" class="home-btn">Go to Home Page</a>
  </div>
</body>
</html>
